* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

h4 {
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
}

p {
  font-size: 0.9rem;
  line-height: 20px;
}

:root {
  --color-a: #B6D982 ;
  --color-b: #7AC23C;
  --color-c: #5A8F2C;
  --color-d: #D9816C;
  --color-d-a: #98AAD9;
  --color-e: #06423A;
  --color-f: #F2F2F2;
  --color-g: #102742;
}

.m {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m > section {
  margin: 20px 0;
  width: 90%;
}

#top {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top > #empty {
  width: 40px;
  height: 40px;
}

#top > #logo-box {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top > #logo-box #logo {
  width: 40px;
  height: 40px;
  background-color: var(--color-c);
  margin: 0 10px;
}

#top > #hamburger-box {
  width: 40px;
  height: 40px;
  background-color: var(--color-a);
}
