#slot-machine {
  width: 375px;
  height: 500px;
  background-image: url("/img/slot-2.gif");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slot-machine #item-box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slot-machine #item-box #items {
  font-size: 3rem;
  width: 60px;
  height: 60px;
  background-image: url("/img/f.gif");
  background-size: cover;
}
