#table-box #table {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background-color: var(--color-c);
  border-radius: 10px;
}

#table-box #table tbody {
  margin: 0 auto;
  width: 450px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#table-box #table tbody > tr {
  width: 100%;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#table-box #table tbody > tr > td {
  width: 66px;
  height: 88px;
  background-image: url("/img/card-back.jpg");
  background-size: contain;
  text-align: center;
  line-height: 50px;
  margin: 0 10px;
  border-radius: 5px;
}

#table-box #table tbody > tr:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
