*{margin: 0;padding: 0;box-sizing: border-box;}
ul, li{
  list-style: none;
  text-decoration: none;
}
h1{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

h4{
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
}

p{
  font-size: 0.9rem;
  line-height: 20px;
}

:root{
  --color-a : #B6D982 ;
  --color-b : #7AC23C;
  --color-c: #5A8F2C;
  --color-d : #D9816C;
  --color-d-a : #98AAD9;
  --color-e : #06423A;
  --color-f : #F2F2F2;
  --color-g : #102742;
}

// 모바일 버전
.m{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.m > section{
  margin: 20px 0;
  width: 90%;
}

// 모바일 top 메뉴 로고
#top{
  border: 1px solid;
  display: flex;
  justify-content: space-between;

  > #empty{
    width: 40px;
    height: 40px;
  }

  > #logo-box{
    height: 40px;
    display: flex;

    #logo{
      width: 40px;
      height: 40px;
      background-color: var(--color-c);
      margin: 0 10px;
    }
  }

  > #hamburger-box{
    width: 40px;
    height: 40px;
    background-color: var(--color-a);
  }
}