*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'B612 Mono', monospace;
}
ul, li, a{
  color: inherit;
  list-style: none;
  text-decoration: none;
}
h1{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

h4{
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
}

p{
  font-size: 0.9rem;
  line-height: 20px;
}

:root{
  --color-a : #B6D982 ;
  --color-b : #7AC23C;
  --color-c: #5A8F2C;
  --color-d : #D9816C;
  --color-d-a : #98AAD9;
  --color-e : #06423A;
  --color-f : #F2F2F2;
  --color-g : #102742;
}

// 모바일 버전
#root{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#root section{
  margin: 40px auto;
  width: 90%;
}

// 모바일 top 메뉴 로고
#top{
  display: flex;
  justify-content: space-between;

  > #empty{
    width: 40px;
    height: 40px;
  }

  > #logo-box{
    height: 40px;
    display: flex;

    #logo{
      width: 40px;
      height: 40px;
      // background-color: var(--color-c);
      background-image: url('/img/logo.gif');
      background-size: contain;
      margin: 0 10px;
    }
  }

  > #hamburger-box{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    > #line{
      background-color: var(--color-a);
      width: 100%;
      height: 20%;
    }
  }
}

// 버튼
#btn-box{
  #btn{
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  button{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    letter-spacing: 4px;
    background-color: var(--color-b);
    color: var(--color-f);
    margin: 10px 0;
  }
  
}

#total{
  border: 1px solid;
  width: 450px;
  padding: 10px;
}

// 타블렛 .t ~ 웹 .w
#side-menu-box{
  width: 30%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--color-a);
  >ul{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    #logo-box{
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: var(--color-c);
      #logo{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background-image: url('/img/logo.gif');
        background-size: cover;
      }
    }
  }
}

.t{
  display: none;
}
@media(min-width:850px){
  #side-menu-box{
    display: flex;
  }
  .m{
    display: none !important;
  }
  .t{
    display: block !important;
  }
}