#main-bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('/img/main-1-2.gif');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#icon-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  > div{
    width: 100px;
    height: 100px;
  }
  #logo{
    // background-color: var(--color-c);
    background-image: url('/img/logo.gif');
    background-size: contain;
  }
  #menu-box{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    > #item{
      display: block;
      width: 80px;
      height: 80px;
      text-align: center;
      line-height: 80px;
      font-size: 3rem;
      color: var(--color-e);
      // background-color: var(--color-c);
    }
  }
}

#bg-box{
  width: 100%;
  height: 100%;
  background-image: url('/img/main-1-2.gif');
  background-size: cover;
  background-position: center;
  z-index: -1;
}