#table-box{

  #table{
    margin: 0 auto;
    width: 400px;
    height: 500px;
    background-color: var(--color-c);
    border-radius: 10px;
    
    tbody{
      margin: 0 auto;
      width: 450px;
      height: 500px;
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      
      > tr{
        width: 100%;
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        > td{
          width: 66px;
          height: 88px;
          background-image: url('/img/card-back.jpg');
          background-size: contain;
          text-align: center;
          line-height: 50px;
          margin: 0 10px;
          border-radius: 5px;
        }
      }
      > tr:nth-child(2){
        justify-content: flex-end;
      }
    }
  }
}
